*{
    font-family: Futura PT, Roboto sans-serif;
    box-sizing: border-box;
}
.navbar-nav {
    display: flex;
    justify-content: right;
    margin-left: 160px;
}
.nav-item.nav-link{
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    margin-right: 60px;
}

nav a.active, nav a:hover {
    background-color: #3293f8;
    color: #343a40;
}
main {
    background-image: url("")
}
#div1 {
    display: inline-block;
    background-color: #138496;
}
#div2 {
    display: inline-block;
}

h3 {
    text-align: center;
    color: #00bcd4;
}
#form {
    display: inline-block;
}
main {
    background-attachment: local;
}
section {
    background-image: url("../assets/Background-main.png");
}
nav img {
    padding: 2px;
}

nav {
    margin-left: 5px;
}
.bordertop {
    border-top: 1px solid black;
}