* {
    font-family: Futura PT, Robotom sans-serif;
    box-sizing: border-box;
}

/* Navigation */

.navbar-nav {
    display: flex;
    justify-content: right;
    margin-left: 160px;
}
.nav-item.nav-link{
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    margin-right: 60px;
}

nav a.active, nav a:hover {
    background-color: #3293f8;
    color: #343a40;
}

/* Header */

.headercontainer {
    padding: 90px 0 90px 0;
}

h1.header {
    font-size: 60px;
}

h2.header {
    font-size: 42px;
}

img.product {
    float: left;
    height: 480px;
}

/* Button */

.button {
    border: 2px solid black;
    border-radius: 25px;
    padding: 4px 15px 5px 15px;
    text-decoration: none;
    background-color: #ffffff;
}

.button:hover {
    background-color: #3293f8;
    text-decoration: none;
    color: #000000;
    border-color: #3293f8;
}

a {
    color: #000000;
}
a:hover {
    color: #0000ff;
}

a:visited {
    color: #000000;
}

/* Review */

.review {
    border-bottom: 1px solid black;
}

/* Banner */

img.banner {
    width: 100%;
    height: 500px;
    margin: 30px 0 30px 0;
}

/* Functie */

.functies {
    padding: 80px
}

.functiesfotos {
    height: 350px;
}

/* Pakketten */

.pakket {
    text-align: center;
    border: 1px solid black;
    margin: 0 24px 0 24px;
    padding: 5px;
    background-color: #ffffff;
}

.pakketfoto {
    height: 200px;
    text-align: center;
    border: 1px solid black;
    margin: 30px 24px 0 24px;
    padding: 5px;
    background-color: #ffffff;
}

.pakketdetails {
    padding: 80px;
}

.pakketdetailsfotos {
    height: 350px;
    background-color: #ffffff;
}

/* Footer */

.bordertop {
    border-top: 1px solid black;
    margin-top: 10px;
}

.socials {
    height: 16px;
    width: 59px;
    float: right;
}