* {
    font-family: Futura PT, Robotom sans-serif;
    box-sizing: border-box;
}

.navbar-nav {
    display: flex;
    justify-content: right;
    margin-left: 160px;
}

nav div a {
    padding: 20px 30px;
    text-decoration: none;
    margin-right: 40px;
}

nav a.active, nav a:hover {
    background-color: #3293f8;
    color: #343a40;
    font-weight: bold;
}

nav a.active {
    color: #3293f8;
    font-weight: bold;
    padding: 10px;
}

.headercontainer {
    padding: 90px;
}

h1.header {
    font-size: 60px;
}

h2.header {
    font-size: 42px;
}

img.product {
    float: left;
    height: 480px;
    padding-left: 100px;
}

.review {
    border-bottom: 1px solid black;
}

img.banner {
    width: 100%;
    height: 500px;
    margin: 30px 0 30px 0;
}

.functies {
    padding: 80px;
}

.functiesfotos {
    height: 350px;
}

.pakket {
    text-align: center;
    border: 1px solid black;
}

.pakketdetails {
    padding: 80px;
}

.pakketdetailsfotos {
    height: 350px;
}

.bordertop {
    border-top: 1px solid black;
    margin-top: 10px;
}

.socials {
    height: 16px;
    width: 59px;
}