* {
    font-family: Futura PT, Robotom sans-serif;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: right;
    margin-left: 160px;
}

nav a{
    color: #000;
    padding: 20px 30px;
    text-decoration: none;
    margin-right: 40px;
}

nav a.active, nav a:hover {
    background-color: #ddd;
    color: #343a40
}

nav a.active {
    color: #699ADC;
    font-weight: bold;
}

img.logo {
    height: 75px;
    width: 315px;
}

img.product {
    float: left;
    height: 722px;
    padding-left: 100px;
    margin-top: 50px;
}

.reviews {
    clear: both;
}

img.banner {
    width: 100%;
}